.pagination-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}

.pagination {
    position: relative;
    padding: 8px 20px;
    border-radius: 40px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.pagination [class*="page-"]:first-child {
    margin-right: 5px;
}

.pagination [class*="page-"] {
    list-style: none;
    line-height: 40px;
    margin: 0 5px;
}

.pagination-round a {
    border-radius: 50%;
}

.pagination a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 50%;
}

.pagination .page-num {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.pagination .page-num.active a {
    background: var(--primary-color);
    color: white;
}

.pagination .page-num:not(.active):hover a{
    color: var(--secondary-color);
    background-color: rgba(245, 123, 0, .05);
}