.profile--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile--change_password{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #0060bb;
    font-size: 14px;
}

.profile--wrapper .profile--passwords{
    display: none;
    width: 100%;
}

.profile--wrapper .field{
    margin-bottom: 15px;
}

.profile--wrapper .field .help{
    color: inherit;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 2px;
    text-align: right;
    width: 100%;
}

.profile--buttons{
    display: flex;
    flex-direction: column;
}

.profile--buttons a{
    margin-bottom: 10px;
}