.tabs-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tabs-header{
	display: flex;
	background: var(--primary-color);
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	width: 350px;
}

.tabs-header a{
	flex-grow: 1;
	padding: 10px;
	border-right: 1px solid #dddddd;
	text-align: center;
	color: var(--text-color);
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
	text-decoration: none;
}

.tabs-header a:last-child{
	border-right: 0;
}

.tabs-header a:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--secondary-color);
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs-header a:hover {
	background-color: rgba(0, 0, 0, .54);
}

.tabs-header a.active{
	background: #fff;
	color: var(--secondary-color);
}

.tabs-header a:hover:before,
.tabs-header a.active:before{
	opacity: 1;
}

.tabs-content{
	/*border: 1px solid #dddddd;*/
	/*padding: 20px;*/
	width: 100%; /*height: 100%;*/
	/*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);*/
}

.tabs-content .title{
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 600;
}

.settings_station--content{
	display: flex;
	height: calc(100% - 50px);
}

.settings_station--content h4{
	text-align: center;
}

.settings_station--content .content-1{
	width: 40%;
	height: 100%;
}

.settings_station--content .content-2{
	flex-grow: 1;
	padding: 0 0 15px 20px;
	border-left: 1px solid #002;
	height: 100%;
}

.put-right{
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 460px){
    .tabs-header{
		display: flex;
		background: var(--primary-color);
		border: 1px solid #dddddd;
		border-radius: 5px;
		margin: 0;
		padding: 0;
		width: 300px;
	}
}

