.sidenav--wrapper{
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.sidenav--wrapper ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%; height: auto;
}

.sidenav--wrapper ul li {
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}

.sidenav--wrapper ul li a {
    display: block;
    width: 45px; height: 45px;
    margin: auto;
    text-align: center;
}

.sidenav-nav-link.sidenav--logo{
    margin-bottom: 25px;
}

.sidenav--logo img{
    width: 45px;
}

.sidenav--wrapper ul li div {
    display: none;
    position: absolute;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--text-color);
    background: #000;
    border-radius: 5px;
    top: 50%;
    left: 70px;
    z-index: 10;
    transform: translateY(-50%);
    transition: 5s background-color;
    opacity: .8;
}

.sidenav--wrapper ul li div:before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-left: none;
    top: 50%;
    left: -6px;
    z-index: 5;
    transform: translateY(-50%) rotate(45deg);
    background: inherit;
}

.sidenav--wrapper ul li a:hover:not(.sidenav--logo),
.sidenav--wrapper ul li a.active
{ background: rgba(0, 0, 0, .54); }

.sidenav--wrapper ul li a:hover + div{
    display: block;
}

.sidenav--wrapper i{
    color: var(--text-color);
    font-size: 2rem;
    margin-top: 5px;
    text-align: center;
}

.sidenav--wrapper ul li .active i{
    color: var(--secondary-color);
}

.sidenav--header{ margin-top: 20px; }

/*.sidenav--header .sidenav--menu{
    display: none;
}*/

.sidenav--footer{
    position: relative;
    margin-bottom: 20px;
}

.sidenav--footer:before{
    content: "";
    position: absolute;
    top: -20px;
    width: 75%;
    height: 2px;
    background: rgba(0, 0, 0, .3);
}


@media screen and (max-width: 700px){
    .sidenav--wrapper {
        height: 65px; width: 100%;
        flex-direction: row;
    }

    .sidenav--wrapper ul {
        flex-direction: row;
    }

    .sidenav--header{ margin-top: auto; margin-bottom: auto }
    .sidenav--footer{
        margin-bottom: 0;
    }

    .sidenav--footer:before{
        top: 50%;
        left: 0;
        width: 2px;
        height: 75%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 460px){
    .sidenav--header .sidenav--menu{
        display: initial;
    }

    .sidenav--header .sidenav--menu a{
        margin-right: 20px;
    }

    .sidenav--header li:not(.sidenav--menu){
        display: none;
    }
    .sidenav--footer{ display: none !important }
}