{% load static %}

<ul class="sidenav--header">
    <li class="sidenav-nav-link sidenav--menu sidenav--logo">
        <a href="{% url 'fuel:home' %}"><img src="{% static 'img/logo/favicon.png' %}" alt="logo"></a>
    </li>
    <li class="sidenav-nav-link sidenav--menu ">
        <a href="{% url 'fuel:home' %}" {% if selection|default:'home' == 'home' %} class="active"{% endif %}>
            <i class="material-icons">home</i>
        </a>
        <div class="sidenav--help">Accueil</div>
    </li>
    <li class="sidenav-nav-link sidenav--menu">
        <a href="#" {% if selection == 'stations' %} class="active"{% endif %}>
            <i class="material-icons">apps</i>
        </a>
        <div class="sidenav--help">Stations</div>
    </li>
    <li class="sidenav-nav-link sidenav--menu">
        <a href="#" {% if selection == 'users' %} class="active"{% endif %}>
            <i class="material-icons">people</i>
        </a>
        <div class="sidenav--help">Utilisateurs</div>
    </li>
    <li class="sidenav-nav-link sidenav--menu">
        <a href="#" {% if selection == 'messages' %} class="active"{% endif %}>
            <i class="material-icons">notifications</i>
        </a>
        <div class="sidenav--help">Messages</div>
    </li>
</ul>
<ul class="sidenav--footer">
    <li class="sidenav-nav-link sidenav--menu">
        <a href="{% url 'fuel:profile' %}" {% if selection == 'profile' %} class="active"{% endif %}>
            <i class="material-icons">account_circle</i>
        </a>
        <div class="sidenav--help">Profile</div>
    </li>
    <li class="sidenav-nav-link sidenav--menu ">
        <a href="{% url 'fuel:setting_station' %}" {% if selection == 'setting' %}class="active"{% endif %}>
            <i class="material-icons">settings</i>
        </a>
        <div class="sidenav--help">Paramètres</div>
    </li>
    <li class="sidenav-nav-link sidenav--menu">
        <a href="{% url 'fuel:logout' %}"><i class="material-icons">power_settings_new</i></a>
        <div class="sidenav--help">Déconnexion</div>
    </li>
</ul>
