<div class="pagination-wrapper">
    <ul class="pagination">
        <li class="page-prev"><a href="#"> < prev </a></li>
        <li class="page-num"><a href="#">1</a></li>
        <li class="page-num active"><a href="#">2</a></li>
        <li class="page-num"><a href="#">3</a></li>
        <li class="page-num"><a href="#">4</a></li>
        <li class="page-num"><a href="#">5</a></li>
        <li class="page-num"><a href="#">6</a></li>
        <li class="page-next"><a href="#"> next > </a></li>
    </ul>
</div>