<div class="tabs-header">
    <a href="{% url 'fuel:setting_station' %}" {% if selection|default:'station' == 'station' %}class="active"{% endif %}>Station</a>
    <a href="{% url 'fuel:setting_fournisseurs' %}" {% if selection == 'fournisseurs' %}class="active"{% endif %}>Fournisseurs</a>
    <a href="{% url 'fuel:setting_reservoirs' %}" {% if selection == 'reservoirs' %}class="active"{% endif %}>Reservoirs</a>
</div>