{% extends 'layouts/sketch_settings.html' %}

{% block main_setting %}
    {% include 'shared/_tabs.html' %}
    <div class="tabs-content">
        <p class="title">Station (@{{ station.nom }})</p>
        <div class="settings_station--content">
            <div class="content-1">
                <h4>Détails</h4>
                <p><span class="label">Nom : </span> <span>{{ station.nom }}</span></p>
                <p><span class="label">Adresse : </span> <span>{{ station.adresse }}</span></p>
                <p><span class="label">Nombre d'actionnaires : </span> <span>{{ station.fournisseurs.count }}</span></p>
                <p><span class="label">Nombre de fournisseurs : </span> <span>{{ station.fournisseurs.count }}</span></p>
                <p><span class="label">Nombre de reservoirs : </span> <span>{{ station.fournisseurs.count }}</span></p>
                <p><span class="label">Nombre de pompes : </span> <span>{{ station.fournisseurs.count }}</span></p>
                <p><span class="label">Nombre d'indexes : </span> <span>{{ station.fournisseurs.count }}</span></p>
            </div>
            <div class="content-2">
                <h4>Type de carburant</h4>
                <div class="put-right">
                    <button>Ajouter</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prix d'achat (en XAF)</th>
                            <th>Prix de vente (en XAF)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for carburant in type_carburants %}
                            <tr>
                                <td>{{ carburant.libelle }}</td>
                                <td>{{ carburant.prix_achat }}</td>
                                <td>{{ carburant.prix_vente }}</td>
                                <td>
                                    <button class="default">Editer</button>
                                    <button class="danger">Supprimer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'shared/_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}